* {
  box-sizing: border-box;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 60px;
  margin: 0;
  background-color: #1abc9c;
  color: white;
}

nav {
  background-color: #333;
  padding: 14px 26px;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-align: left;
  text-decoration: none;
}

aside {
  background-color: #f1f1f1;
  padding: 20px;
}

main {
  background-color: white;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
}

.container {
  display: flex;
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
  }

  nav a {
    display: block;
    text-align: center;
  }
}
